<div>
    <h3 class="center header">Liste des athlètes olympiques <a class="btn btn-primary" href="/sports">Liste des sports</a></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Genre : Nom de l'athlète | Code iso du pays</th>
            </tr
        </thead>
        <tbody>
            {{#each athletes}}
            <tr>
                <td>
                    <p>{{gender}} : {{firstName}} {{lastName}} | {{country}}</p>
                </td>
                <td>
                    <a class="btn btn-info" href="/athletes/{{id}}">Modifier</a>
                    <a class="btn btn-info" href="/athletes/delete/{{id}}">Supprimer</a>
                </td>
            </tr>
            {{/each}}
            {{#if authorized}}
            <form method="post" action="/athletes">
                <tr>
                    <td>
                        <input type="text" name="firstName" placeholder="Prénom de l'athlète" />
                        <input type="text" name="lastName" placeholder="Nom de l'athlète" />
                        <label for="gender" name="gender" placeholder="Sexe de l'athlète"></label>
                        <select name="gender" id="gender">
                            <option value="Monsieur">Homme</option>
                            <option value="Madame">Femme</option>
                        </select>
                        <label for="countries" name="country" placeholder="Pays de l'athlète"></label>
                        <select name="country" id="contries">
                            {{#each countries}}
                            <option value="{{code}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <button  type="submit" class="btn btn-success">Créer</button>
                    </td>
                </tr>
            </form>
            {{/if}}
        </tbody>
    </table>
</div>