<div class="container">
    <h1>Modifier l'athlète <button onclick="window.history.back()">Retour</button></h1>
    <form method="post" action="/athlete/{{athlete.id}}">
        <input type="text" name="firstName" placeholder="" value="{{athlete.firstName}}" />
        <input type="text" name="lastName" placeholder="" value="{{athlete.lastName}}" /> </br>
        <select name="gender" id="gender" value="{{athlete.gender}}">
            {{#Equals athlete.gender "Monsieur"}}
            <option selected value="Monsieur">Homme</option>
            {{else}}
            <option value="Monsieur">Homme</option>
            {{/Equals}}
            {{#Equals athlete.gender "Madame"}}
            <option selected value="Madame">Femme</option>
            {{else}}
            <option value="Madame">Femme</option>
            {{/Equals}}
        </select>
        <select name="country" id="contries" value="{{athlete.country}}">
            {{#each countries}}
            {{#Equals ../athlete.country code}}
            <option selected value="{{code}}">{{name}}</option>
            {{else}}
            <option value="{{code}}">{{name}}</option>
            {{/Equals}}
            {{/each}}
        </select>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <h2>Voici les sports de cet athlète</h2>
    {{#each sports}}
    <p>{{name}}</p>
    {{/each}}
</div>